@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lobster&family=Oswald:wght@300&display=swap');

/* body */
body {
    background-color: #E1FFD7;
    max-width: 900px;
    padding: 0;
    line-height: 1.45;
    margin: 0 auto;
}

.bod {
    padding-top: 1px;
    padding-bottom: 1px;

}

.container {
    padding: 40px 40px;
    text-align: center;
}

/* Header Section */
.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: rgba(17, 134, 218, 0.742);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

header {
    background-color: #00A884;
    padding: 10px;
    font-family: cursive;
    font-size: large;

}

.submenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
}

.submenu a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 1px auto;
    background-color: rgb(10, 188, 248);
    padding: 10px 10px;
    width: 110px;
    border-radius: 5px;

}
.submenu a:hover{
    background-color: #41D777;
}



/* Feature Section*/
.features {
    background-color: #41D777;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;

}

.feature {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.feature img {
    width: 40%;
}

/* Quote Section */
.quote {
    background-color: #d7e7d886;
}

blockquote {
    text-align: right;
    font-size: medium;
    font-family: 'Caprasimo', cursive;
    color: black;
}

blockquote cite {
    font-size: small;
}

/* Footer Section */
footer {
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
}

footer ul {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;

}

footer li a:hover {
    color: #41D777;
}

footer li a:after {
    color: rgb(217, 78, 22);
}

footer li {
    display: inline-block;
    padding: 0 25px 30px 25px;

    width: 100px;
    margin: 0 auto;
}

footer p {
    padding: 1px auto;
    display: block;
    width: 150px;
    margin: 0 auto;
}

/* Responsive */
@media screen and (max-width :480px) {

    /* Responsive header */
    .btn {
        display: block;
        width: 93%;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.8);
    }

    h1 {
        font-size: 32px;
    }

    .submenu {
        position: relative;

    }

    .submenu a {
        display: block;
        width: 93%;
    }

    .submenu a:hover {
        background-color: #41D777;
    }

    /* Responsive Features */
    .features {
        justify-content: center;
        padding-left: 40px;
    }

    .feature {
        display: flex;
        width: 100%;
        text-align: left;
        align-items: center;
    }
   
    /* Quote Section */
    blockquote {
        text-align: center;

    }

    /* Footer Section */
    footer {
        text-align: center;
    }

    footer ul li {
        display: block;

    }


}